In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [2]:
df = pd.read_csv('loan_application.csv')

In [3]:
df.shape

(61, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              61 non-null     int64
 1   gender           61 non-null     object
 2   occupation       61 non-null     object
 3   education_level  61 non-null     object
 4   marital_status   61 non-null     object
 5   income           61 non-null     int64
 6   credit_score     61 non-null     int64
 7   loan_status      61 non-null     object
dtypes: int64(3), object(5)
memory usage: 3.9+ KB

In [5]:
#Declare feature vector and target variable

In [6]:
X = df.drop(['loan_status'], axis=1)

y = df['loan_status']

In [7]:
# split X and y into training and testing sets

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [9]:
X_train.shape, X_test.shape

((48, 7), (13, 7))

In [10]:
#Feature Engineering

In [11]:
X_train.dtypes

age                 int64
gender             object
occupation         object
education_level    object
marital_status     object
income              int64
credit_score        int64
dtype: object

In [12]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['gender', 'occupation', 'education_level', 'marital_status'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [13]:
X_train.head()

,age,gender,occupation,education_level,marital_status,income,credit_score
3,51,1,1,1,1,105000,780
53,44,1,2,2,1,85000,740
17,41,1,3,3,1,125000,800
8,37,2,4,2,1,92000,750
6,42,2,5,3,1,120000,790

In [14]:
X_test.head()

,age,gender,occupation,education_level,marital_status,income,credit_score
0,32,2,10.0,1,1,85000,720
5,24,1,19.0,5,2,48000,640
46,31,2,20.0,1,2,65000,680
31,54,1,-1.0,2,1,85000,760
13,39,1,2.0,1,1,78000,730

In [15]:
# import Random Forest classifier

from sklearn.ensemble import RandomForestClassifier

# instantiate the classifier 

rfc = RandomForestClassifier(n_estimators=10, random_state=0)

# fit the model

rfc.fit(X_train, y_train)

# Predict the Test set results

y_pred = rfc.predict(X_test)

# Check accuracy score 

from sklearn.metrics import accuracy_score

print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 0.9231

In [16]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    Approved       1.00      0.89      0.94         9
      Denied       0.80      1.00      0.89         4

    accuracy                           0.92        13
   macro avg       0.90      0.94      0.92        13
weighted avg       0.94      0.92      0.93        13