In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [2]:
df = pd.read_csv('dietary_patterns_cancer.csv')

In [3]:
df.shape

(2096, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096 entries, 0 to 2095
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fruits and vegetables  2096 non-null   int64
 1   Whole grains           2096 non-null   int64
 2   Legumes                2096 non-null   int64
 3   Nuts and seeds         2096 non-null   int64
 4   Fish and poultry       2096 non-null   int64
 5   Processed meats        2096 non-null   int64
 6   Red meat               2096 non-null   int64
 7   Refined grains         2096 non-null   int64
 8   Sugary drinks          2096 non-null   int64
 9   High-fat dairy         2096 non-null   int64
 10  Smoking                2096 non-null   int64
 11  Prostate cancer        2096 non-null   object
dtypes: int64(11), object(1)
memory usage: 196.6+ KB

In [5]:
#Declare feature vector and target variable

In [6]:
X = df.drop(['Prostate cancer'], axis=1)

y = df['Prostate cancer']

In [7]:
# split X and y into training and testing sets

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [9]:
X_train.shape, X_test.shape

((1676, 11), (420, 11))

In [10]:
#Feature Engineering

In [11]:
X_train.dtypes

Fruits and vegetables    int64
Whole grains             int64
Legumes                  int64
Nuts and seeds           int64
Fish and poultry         int64
Processed meats          int64
Red meat                 int64
Refined grains           int64
Sugary drinks            int64
High-fat dairy           int64
Smoking                  int64
dtype: object

In [12]:
X_train.head()

,Fruits and vegetables,Whole grains,Legumes,Nuts and seeds,Fish and poultry,Processed meats,Red meat,Refined grains,Sugary drinks,High-fat dairy,Smoking
414,2,1,1,2,2,4,4,4,5,4,1
906,4,1,3,3,1,2,4,4,4,5,5
1683,4,4,3,5,5,3,2,3,1,1,3
1471,1,1,1,1,2,5,5,4,4,5,3
1281,2,1,1,1,2,4,5,5,5,5,4

In [13]:
X_test.head()

,Fruits and vegetables,Whole grains,Legumes,Nuts and seeds,Fish and poultry,Processed meats,Red meat,Refined grains,Sugary drinks,High-fat dairy,Smoking
29,2,3,4,3,2,3,3,3,2,3,3
845,1,1,2,1,1,4,5,5,4,4,1
812,3,5,3,2,2,3,2,5,4,4,1
432,2,2,1,1,2,4,4,4,5,4,5
1383,1,5,3,3,1,1,2,5,1,2,2

In [14]:
# import Random Forest classifier

from sklearn.ensemble import RandomForestClassifier

# instantiate the classifier 

rfc = RandomForestClassifier(n_estimators=10, random_state=0)

# fit the model

rfc.fit(X_train, y_train)

# Predict the Test set results

y_pred = rfc.predict(X_test)

# Check accuracy score 

from sklearn.metrics import accuracy_score

print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 1.0000

In [15]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          no       1.00      1.00      1.00       233
         yes       1.00      1.00      1.00       187

    accuracy                           1.00       420
   macro avg       1.00      1.00      1.00       420
weighted avg       1.00      1.00      1.00       420